[WebServer]
Host: 0.0.0.0
Port: 9001
ArchiveDir: /tmp/Complete/
DownloadDir: /tmp/Downloads/

[Execute]
Notify: curl -s -F "token=<Your pushover token>" \
    -F "user=<Your user token>" \
    -F "title=%TITLE%" \
    -F "message=%MESSAGE%" https://api.pushover.net/1/messages.json > /dev/null 2>&1
ArchiveCommand: cd %DOWNLOAD_DIR%; tar -cf "%ARCHIVE_DIR%%NAME%.tar" "%NAME%"
RemoveCommand: rm -rvf "%DOWNLOAD_DIR%%NAME%"

[PutioCreds]
OauthToken: <Your Putio OAuth token>

